
// Fonts
$primaryFont: Arial;
$titleFont: serif;

// Media request
$md1: 769px;
$md2: 426px;
$md3: 321px;

// Width's
$widthContainer: 1024px;  

// Height's
$headerHeight: 60px;

// Colors
$white: #fff;